server:
  port: ${SERVER_PORT:9016}
  ssl:
    enabled: false
app:
  userAgent: ${APP_USER_AGENT:PSSIM123456789012345/1.2.4}

defaultdata:
  submissionSetAuthorConfiguration:
    useFirstDocumentAuthor: false
    authorPerson:
      identifier: "123456789"
      familyName: "Doktor"
      givenName: "Doc"
      title: "Dr."
    authorInstitutionConfiguration:
      retrieveFromSmb: true
    authorRoleDefault: "11^^^&amp;1.3.6.1.4.1.19376.3.276.1.5.13&amp;ISO"

konnektor:
  connection:
    connectOnStartup: false
    address:
      protocol: ${KONNEKTOR_PROTOCOL:https}
      host: ${KONNEKTOR_HOST:kon33.e2e-test.gematik.solutions}
      port: ${KONNEKTOR_PORT:443}
    tlsConfig:
      keystoreEnabled: ${KONNEKTOR_TLS_KEYSTORE_ENABLED:false}
      keystorefile:
        filePath: keys/tlsClient.p12
      keystorepassword: '12345678'
      keystoretype: PKCS12
      ciphersuites: TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384, TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384, TLS_ECDHE_RSA_WITH_AES_128_GCM_SHA256, TLS_ECDHE_RSA_WITH_AES_256_CBC_SHA, TLS_ECDHE_RSA_WITH_AES_128_CBC_SHA
    proxyAddress:
      enabled: ${KONNEKTOR_PROXY_ENABLED:false}
      address: ${KONNEKTOR_PROXY_HOSTNAME:192.168.1.254}
      port: ${KONNEKTOR_PROXY_PORT:3128}
    basicAuthentication:
      enabled: ${BASIC_AUTHENTICATION_ENABLED:false}
      username: ${BASIC_AUTHENTICATION_USERNAME:authUser}
      password: ${BASIC_AUTHENTICATION_PASSWORD:authPwd}
  context:
    mandantId: ${MANDANT_NAME:Mandant_ePA_Default}
    clientSystemId: ${MANDANT_SYSTEM_ID:Clientsystem_ePA_Default}
    workplaceId: ${MANDANT_WORKPLACE:Workplace_ePA_Default}
    userId: ${MANDANT_USER:User_ePA_Default}

logging:
  level:
    de.gematik.epa: INFO
    org.apache.cxf.services: INFO     # Use 'DEBUG' to log the messages to and from the Konnektor

cxf:
  path: ${CXF_PATH:/services}
  jaxrs:
    component-scan: true
    classes-scan-packages: org.apache.cxf.jaxrs.swagger
  openapi:
    resource-packages: de.gematik.epa.api.testdriver
    url: "${cxf.path}/openapi.json"

info:
  app:
    name: '@project.name@'
    version: '@project.version@'
    description: '@project.description@'

management:
  server:
    port: ${MANAGEMENT_PORT:8016}
  endpoints:
    enabled-by-default: true
  endpoint:
    health:
      enabled: true
    metrics:
      enabled: true
    logfile:
      enabled: true
    mappings:
      enabled: true
    beans:
      enabled: true
    info:
      enabled: true

document-server:
  connection:
    address:
      protocol: http
      host: ${DOCUMENT_SERVER_HOST:localhost}
      port: ${DOCUMENT_SERVER_PORT:8080}
      path: epa/xds-document/api/

fhir-server:
  protocol: http
  host: ${FHIR_SERVER_HOST:localhost}
  port: ${FHIR_SERVER_PORT:8080}
  path: fhir
  user-agent: ${FHIR_USER_AGENT:PSSIM123456789012345/1.2.4}

audit-server:
  protocol: http
  host: ${AUDIT_SERVER_HOST:localhost}
  port: ${AUDIT_SERVER_PORT:8080}
  path: fhir
  user-agent: ${AUDIT_USER_AGENT:PSSIM123456789012345/1.2.4}

eml-render:
  protocol: http
  host: localhost
  port: 8085
  pdf-path: /epa/medication/render/v1/eml/pdf
  emp-pdf-path: /epa/medication/render/v1/emp/pdf
  xhtml-path: /epa/medication/render/v1/eml/xhtml
  medication-list-path: /epa/medication/api/v1/fhir/$medication-list
  add-eml-entry-path: /epa/medication/api/v1/fhir/MedicationStatement/$add-eml-entry
  add-emp-entry-path: /epa/medication/api/v1/fhir/$add-emp-entry
  cancel-eml-entry-path: /epa/medication/api/v1/fhir/MedicationStatement/{id}/$cancel-eml-entry
  update-emp-entry-path: /epa/medication/api/v1/fhir/$update-emp-entry
  medication-plan-log-path: /epa/medication/api/v1/fhir/$medication-plan-log
  link-emp-path: /epa/medication/api/v1/fhir/MedicationStatement/{id}/$link-emp
  user-agent: ${EML_USER_AGENT:PSSIM123456789012345/1.2.4}


auth-server:
  protocol: http
  host: ${AUTH_SERVER_HOST:localhost}
  port: ${AUTH_SERVER_PORT:8086}
  user-agent: ${AUTH_SERVER_USER_AGENT:PSSIM123456789012345/1.2.4}

idp-server:
  protocol: http
  host: ${IDP_SERVER_HOST:localhost}
  port: ${IDP_SERVER_PORT:8082}
  path: discoveryDocument
  verify-ssl: true
  follow-redirects: false

vau-proxy:
  protocol: http
  host: ${VAU_PROXY_HOST:localhost}
  port: ${VAU_PROXY_PORT:8080}
  user-agent: ${VAU_PROXY_USER_AGENT:PSSIM123456789012345/1.2.4}

information-servers:
  servers:
    - name: information-server1
      protocol: ${INF_SERVER1_PROTOCOL:http}
      host: ${INF_SERVER1_HOST:localhost}
      port: ${INF_SERVER1_PORT:8088}
      user-agent: PSSIM123456789012345/1.2.4
    - name: information-server2
      protocol: ${INF_SERVER2_PROTOCOL:http}
      host: ${INF_SERVER2_HOST:localhost}
      port: ${INF_SERVER2_PORT:8089}
      user-agent: PSSIM123456789012345/1.2.4

entitlement-server:
  protocol: http
  host: ${ENTITLEMENT_SERVER_HOST:localhost}
  port: ${ENTITLEMENT_SERVER_PORT:8084}
  user-agent: ${ENTITLEMENT_SERVER_USER_AGENT:PSSIM123456789012345/1.2.4}

email-server:
  protocol: http
  host: ${EMAIL_SERVER_HOST:localhost}
  port: ${EMAIL_SERVER_PORT:8088}
  user-agent: ${EMAIL_SERVER_USER_AGENT:PSSIM123456789012345/1.2.4}

consent-decisions-server:
  protocol: http
  host: ${CONSENT_DECISIONS_SERVER_HOST:localhost}
  port: ${CONSENT_DECISIONS_SERVER_PORT:8089}
  user-agent: ${CONSENT_DECISIONS_SERVER_USER_AGENT:PSSIM123456789012345/1.2.4}

audit-render:
  protocol: http
  host: localhost
  port: 8090
  pdf-path: /epa/audit/render/v1/pdf
  user-agent: ${AUDIT_USER_AGENT:PSSIM123456789012345/1.2.4}

mhd-server:
  protocol: http
  host: ${MHD_SERVER_HOST:localhost}
  port: ${MHD_SERVER_PORT:8080}
  user-agent: ${MHD_USER_AGENT:PSSIM123456789012345/1.2.4}

popp-token-server:
  protocol: http
  host: ${POPP_TOKEN_SERVER_HOST:localhost}
  port: ${POPP_TOKEN_SERVER_PORT:8090}
  user-agent: ${POPP_TOKEN_USER_AGENT:PSSIM123456789012345/1.2.4}