**/target/
/.idea/
**/logs
*.iml
**/*.jar
/reports/*
*.jenkinsfile
README_INTERNAL.md
epa-ps-sim-app/src/main/resources/application-gematik.yaml
epa-ps-sim-app/src/main/resources/application-patient-testsuite.yaml

