openapi: 3.0.3
info:
  title: "eML Render Interface"
  description: |
    ### **Prerequisites**:
    
    The Health Record System shall provide 
    - name
    - role ((profession-)oid)
    - identifier (telematik-id or kvnr)
    - indication of a valid entitlement 
    of the current user (requestor) for evaluation in operations.

    Operations mandating a valid entitlement implicitly mandate use of a VAU-channel
    and a valid ID-Token. If one of these conditions is not met, then the response
    of the (aborted) operation shall always be '403': 'notEntitled'. 

    ### **Retry interval**:
    
    The following retry intervals are suggested in case of an error response:<br>
    - '409' Conflict (statusMismatch).
      - approx. 24 hours
    - '500' Internal Error
      - approx. 10 minutes

    ### **User Agent**:
    
    The user agent information (x-useragent) is part of any request, even if 
    not essentially required for the operation (e.g. raw-data collection), and
    may be considered for provider internal use. 

    ### **Log-Entries**
    
    Whenever a _Postcondition_ mandates a log-entry, this entry shall contain
    data as defined in A_24991*.

  contact:
    name: gematik GmbH
    email: epa@gematik.de
    url: 'http://www.gematik.de'

  license:
    name: Apache 2.0
    url: 'https://www.apache.org/licenses/LICENSE-2.0'

  version: 1.1.5
servers:
  - url: 'https://epa-hst1.prod.epa4all.de'

tags:
  - name: xHTML
    description: medication list (eML) in xHTML
  - name: PDF
    description: medication list (eML) in PDF
  - name: PDF (eMP)
    description: medication plan (eMP) in PDF
  - name: MedicationList
    description: medication list (eML) in FHIR format
  - name: MedicationStatement
    description: medication statement related endpoints

paths:
  /epa/medication/render/v1/emp/pdf:
    get:
      tags:
        - PDF (eMP)
      operationId: renderMedicationPlanToPDF_MedicationSvc
      description: |
        This interface returns a medication plan (eMP) rendered in PDF/A.

        #### **Allowed user groups [professionOID]**
        * oid_versicherter
        * oid_praxis_arzt 
        * oid_krankenhaus
        * oid_institution-vorsorge-reha
        * oid_zahnarztpraxis 
        * oid_praxis_psychotherapeut
        * oid_institution-oeg
        * oid_öffentliche_apotheke
        * oid_institution-pflege
        * oid_institution-geburtshilfe
        * oid_praxis-physiotherapeut
        * oid_institution-arbeitsmedizin

        ***

        **Error Handling**
        -
        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | | |
        | Rendering led to empty list | 404 | noEntries ||
        | Requestor not authorized (no user session with valid ID-Token available) | 403 | invalAuth ||
        | Requestor has no valid entitlement | 403 | notEntitled ||
        | Requestor role is not in the list of allowed user groups | 403 | invalidOid ||        
        | Device registration does not exist (if requestor role is oid_versicherter only) | 403 | unregisteredDevice ||                
        | Health record is in state UNKNOWN or INITIALIZED | 404 | noHealthRecord ||
        | Health record is in state SUSPENDED or MAINTENANCE | 409 | statusMismatch ||        
        | Any other error | 500 | internalError ||        
        | If the insurant objected to the medication process or objected to the submission of prescription and dispensation data into the ePA system, the Medication Service is locked. | 423 | locked ||                

      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '403':
          $ref: '#/components/responses/Error403EMP'
        '404':
          $ref: '#/components/responses/Error404NoEntries'
        '409':
          $ref: '#/components/responses/Error409Conflict'
        '423':
          $ref: '#/components/responses/Error423Locked'
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /epa/medication/render/v1/eml/xhtml:
    get:
      tags:
        - xHTML
      operationId: renderMedicationListToHTML_MedicationSvc
      description: |
        This interface returns a medication list (eML) rendered in xHTML file which shall be one of the allowed formats (A_25233*).

        #### **Allowed user groups [professionOID]**
        * oid_versicherter
        * oid_praxis_arzt 
        * oid_krankenhaus
        * oid_institution-vorsorge-reha
        * oid_zahnarztpraxis 
        * oid_praxis_psychotherapeut
        * oid_institution-oeg
        * oid_öffentliche_apotheke
        * oid_institution-pflege
        * oid_institution-geburtshilfe
        * oid_praxis-physiotherapeut
        * oid_institution-arbeitsmedizin

        ***

        **Error Handling**
        -
        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 |||
        | Unknown or invalid search parameter(s) | 400 |||
        | Rendering led to empty list | 404 | noEntries ||
        | If the insurant objects to the medication process in the ePA system, the Medication Service gets locked. | 423 | locked | |
        | Health record is not in state ACTIVATED | 409 | statusMismatch | (see 'Retry interval') |
        | Any other error | 500 | internalError | (see 'Retry interval') |

      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
      responses:
        '200':
          description: OK
          content:
            text/html:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '404':
          $ref: '#/components/responses/Error404NoEntries'
        '409':
          $ref: '#/components/responses/Error409Conflict'
        '423':
          $ref: '#/components/responses/Error423Locked'
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /epa/medication/render/v1/eml/pdf:
    get:
      tags:
        - PDF
      operationId: renderMedicationListToPDF_MedicationSvc
      description: |
        This interface returns a medication list (eML) rendered in PDF/A.

        #### **Allowed user groups [professionOID]**
        * oid_versicherter
        * oid_praxis_arzt 
        * oid_krankenhaus
        * oid_institution-vorsorge-reha
        * oid_zahnarztpraxis 
        * oid_praxis_psychotherapeut
        * oid_institution-oeg
        * oid_öffentliche_apotheke
        * oid_institution-pflege
        * oid_institution-geburtshilfe
        * oid_praxis-physiotherapeut
        * oid_institution-arbeitsmedizin

        ***
        
        **Error Handling**
        -
        | Conditions | Status code | Error code | Remarks |
        |------------|-------------|------------|---------|
        | Successful operation | 200 | | |
        | Unknown or invalid search parameter(s) | 400 |||
        | Rendering led to empty list | 404 | noEntries ||
        | If the insurant objects to the medication process in the ePA system, the Medication Service gets locked. | 423 | locked | |
        | Health record is not in state ACTIVATED | 409 | statusMismatch | (see 'Retry interval') |
        | Any other error | 500 | internalError | (see 'Retry interval') |
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
      responses:
        '200':
          description: OK
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/Error400BadRequest'
        '404':
          $ref: '#/components/responses/Error404NoEntries'
        '409':
          $ref: '#/components/responses/Error409Conflict'
        '423':
          $ref: '#/components/responses/Error423Locked'
        '500':
          $ref: '#/components/responses/Error500InternalError'

  /epa/medication/api/v1/fhir/$medication-list:
    get:
      tags:
        - MedicationList
      description: Get a medication list
      operationId: getMedicationList
      parameters:
        - name: date
          in: query
          description: Limit the search to this date. Can specify upper or lower limits
            and periods by providing an upper and a lower limit.
          required: false
          schema:
            type: string
        - name: _count
          in: query
          description: Limit the result bundle to this many entries. To get more entries
            request the next page.
          required: false
          schema:
            type: integer
        - name: _offset
          in: query
          description: Defines the offset of the first entry in the collection.
          required: false
          schema:
            type: integer
        - name: Accept
          in: header
          required: false
          description: The Accept header indicates the format in which the client wishes
            to receive the FHIR response — supported values are application/fhir+json
            and application/fhir+xml
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - name: _format
          in: query
          required: false
          description: 'Specify alternative response formats by their MIME-types (when
          a client is unable acccess accept: header)'
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
        - $ref: '#/components/parameters/requestId'
      responses:
        '200':
          description: Searchset bundle containing the requested entities.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/Bundle'
        '400':
          $ref: '#/components/responses/GetMedicationListError400'
        '404':
          $ref: '#/components/responses/GetMedicationListError404'

  /epa/medication/api/v1/fhir/MedicationStatement/$add-eml-entry:
    post:
      summary: Type-level FHIR Operation $add-eml-entry
      tags:
        - MedicationStatement
      description: Add a new entry to the medication list (eML)
      operationId: addEmlEntry
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
        - $ref: '#/components/parameters/requestId'
        - name: Accept
          in: header
          required: false
          description: The Accept header indicates the format in which the client wishes
            to receive the FHIR response.
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - name: X-Requesting-Organization
          in: header
          required: true
          description: Base64 encoded FHIR Organization resource in JSON format used
            to identify the originator of the request
          schema:
            type: string
            format: base64(fhir+json:Organization)
        - name: _format
          in: query
          required: false
          description: 'Specify alternative response formats by their MIME-types (when
            a client is unable access Accept: header)'
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
      requestBody:
        $ref: "#/components/requestBodies/EPAOpAddEmlEntryInputParameters"
      responses:
        "200":
          description: Parameters FHIR resource.
          content:
            application/fhir+json:
              schema:
                type: string
            application/fhir+xml:
              schema:
                type: string
        "400":
          $ref: '#/components/responses/EmlEntryError400'
        "403":
          $ref: '#/components/responses/EmlEntryError403'
        "404":
          $ref: '#/components/responses/EmlEntryError404'
        "409":
          $ref: '#/components/responses/EmlEntryError409'
        "423":
          $ref: '#/components/responses/EmlEntryError423'
        "500":
          $ref: '#/components/responses/Error500InternalError'
  /epa/medication/api/v1/fhir/MedicationStatement/{id}/$cancel-eml-entry:
    post:
      summary: Instance-level FHIR Operation $cancel-eml-entry
      description: Cancel an existing entry in the medication list (eML)
      operationId: cancelEmlEntry
      tags:
        - MedicationStatement
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
        - $ref: '#/components/parameters/requestId'
        - name: Accept
          in: header
          required: false
          description: The Accept header indicates the format in which the client wishes
            to receive the FHIR response.
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - name: X-Requesting-Organization
          in: header
          required: true
          description: Base64 encoded FHIR Organization resource in JSON format used
            to identify the originator of the request
          schema:
            type: string
            format: base64(fhir+json:Organization)
        - name: _format
          in: query
          required: false
          description: 'Specify alternative response formats by their MIME-types (when
            a client is unable access Accept: header)'
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Resource ID (ID of MedicationStatement to be cancelled)
      responses:
        "200":
          description: Parameters FHIR resource.
          content:
            application/fhir+json:
              schema:
                type: string
            application/fhir+xml:
              schema:
                type: string
        "400":
          $ref: '#/components/responses/EmlEntryError400'
        "403":
          $ref: '#/components/responses/EmlEntryError403'
        "404":
          $ref: '#/components/responses/EmlEntryError404'
        "405":
          $ref: '#/components/responses/EmlEntryError405'
        "409":
          $ref: '#/components/responses/EmlEntryError409'
        "423":
          $ref: '#/components/responses/EmlEntryError423'
        "500":
          $ref: '#/components/responses/Error500InternalError'
  /epa/medication/api/v1/fhir/$add-emp-entry:
    post:
      tags:
        - eMP
      description: Add a new entry to the eMP
      operationId: addEMPEntry_MedicationSvc
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
        - $ref: '#/components/parameters/requestId'
        - name: Accept
          in: header
          required: false
          description: The Accept header indicates the format in which the client wishes
            to receive the FHIR response.
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - name: X-Requesting-Organization
          in: header
          required: true
          description: Base64 encoded FHIR Organization resource in JSON format used
            to identify the originator of the request
          schema:
            type: string
            format: base64(fhir+json:Organization)
        - name: _format
          in: query
          required: false
          description: 'Specify alternative response formats by their MIME-types (when
            a client is unable access Accept: header)'
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
      requestBody:
        $ref: "#/components/requestBodies/EPAOpAddEmpEntryInputParameters"
      responses:
        "200":
          description: Parameters FHIR resource.
          content:
            application/fhir+json:
              schema:
                type: string
            application/fhir+xml:
              schema:
                type: string
        "400":
          $ref: '#/components/responses/EmpEntryError400'
        "403":
          $ref: '#/components/responses/EmpEntryError403'
        "404":
          $ref: '#/components/responses/EmpEntryError404'
        "409":
          $ref: '#/components/responses/EmpEntryError409'
        "410":
          $ref: '#/components/responses/EmpEntryError410'
        "423":
          $ref: '#/components/responses/EmpEntryError423'
        "500":
          $ref: '#/components/responses/Error500InternalError'
  /epa/medication/api/v1/fhir/$update-emp-entry:
    post:
      tags:
        - eMP
      description: Update an existing entry in the eMP
      operationId: updateEMPEntry_MedicationSvc
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
        - $ref: '#/components/parameters/requestId'
        - name: Accept
          in: header
          required: false
          description: The Accept header indicates the format in which the client wishes
            to receive the FHIR response.
          schema:
            type: string
            enum:
              - application/fhir+json
        - name: X-Requesting-Organization
          in: header
          required: true
          description: Base64 encoded FHIR Organization resource in JSON format used
            to identify the originator of the request
          schema:
            type: string
            format: base64(fhir+json:Organization)
        - name: _format
          in: query
          required: false
          description: 'Specify alternative response formats by their MIME-types (when
                  a client is unable access Accept: header)'
          schema:
            type: string
            enum:
              - application/fhir+json
      requestBody:
        $ref: "#/components/requestBodies/EPAOpUpdateEmpEntryInputParameters"
      responses:
        "200":
          description: Parameters FHIR resource.
          content:
            application/fhir+json:
              schema:
                type: string
        "400":
          $ref: '#/components/responses/EmpEntryError400'
        "403":
          $ref: '#/components/responses/EmpEntryError403'
        "404":
          $ref: '#/components/responses/EmpEntryError404'
        "409":
          $ref: '#/components/responses/EmpEntryError409'
        "423":
          $ref: '#/components/responses/EmpEntryError423'
        "500":
          $ref: '#/components/responses/Error500InternalError'
  /epa/medication/api/v1/fhir/$medication-plan-log:
    get:
      tags:
        - eMP
      description: Get the medication plan log (provenances)
      operationId: getMedicationPlanLog
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
        - $ref: '#/components/parameters/requestId'
        - name: Accept
          in: header
          required: false
          description: The Accept header indicates the format in which the client wishes
            to receive the FHIR response.
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - name: _format
          in: query
          required: false
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - name: _count
          in: query
          description: Limit the result bundle to this many entries. To get more entries
            request the next page.
          required: false
          schema:
            type: integer
        - name: _offset
          in: query
          description: Defines the offset of the first entry in the collection.
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Bundle containing the medication plan provenance entries.
          content:
            application/fhir+json:
              schema:
                $ref: '#/components/schemas/Bundle'
            application/fhir+xml:
              schema:
                $ref: '#/components/schemas/Bundle'
        '500':
          $ref: '#/components/responses/Error500InternalError'
  /epa/medication/api/v1/fhir/MedicationStatement/{id}/$link-emp:
    post:
      description: Create eML-eMP link.
      operationId: linkEMP_MedicationSvc
      tags:
        - MedicationStatement
      parameters:
        - $ref: '#/components/parameters/insurantid'
        - $ref: '#/components/parameters/useragent'
        - $ref: '#/components/parameters/requestId'
        - name: Accept
          in: header
          required: false
          description: The Accept header indicates the format in which the client wishes
            to receive the FHIR response.
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - name: X-Requesting-Organization
          in: header
          required: true
          description: Base64 encoded FHIR Organization resource in JSON format used
            to identify the originator of the request
          schema:
            type: string
            format: base64(fhir+json:Organization)
        - name: _format
          in: query
          required: false
          description: 'Specify alternative response formats by their MIME-types (when
            a client is unable access Accept: header)'
          schema:
            type: string
            enum:
              - application/fhir+json
              - application/fhir+xml
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Resource ID (ID of MedicationStatement of eML)
      requestBody:
        $ref: "#/components/requestBodies/EPAOpLinkEmpEntryParameters"
      responses:
        "200":
          description: Parameters FHIR resource.
          content:
            application/fhir+json:
              schema:
                type: string
            application/fhir+xml:
              schema:
                type: string
        "400":
          $ref: '#/components/responses/EmlEntryError400'
        "403":
          $ref: '#/components/responses/EmlEntryError403'
        "404":
          $ref: '#/components/responses/EmlEntryError404'
        "405":
          $ref: '#/components/responses/EmlEntryError405'
        "409":
          $ref: '#/components/responses/EmlEntryError409'
        "423":
          $ref: '#/components/responses/EmlEntryError423'
        "500":
          $ref: '#/components/responses/Error500InternalError'
components:
  parameters:
    insurantid:
      name: x-insurantid
      in: header
      description: Health Record Identifier.
      required: true
      schema:
        $ref: '#/components/schemas/InsurantIdType'
    useragent:
      name: x-useragent
      in: header
      description: user agent information
      required: false
      schema:
        $ref: '#/components/schemas/UserAgentType'
    requestId:
      name: X-Request-ID
      in: header
      description: UUID der Nachricht
      required: true
      schema:
        type: string
        format: uuid

  responses:
    Error400BadRequest:
      description: Unknown or invalid search parameter(s) or invalid request
      content:
        application/json:
          example:
            errorCode: unknownSearchParameter
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error404NoEntries:
      description: Rendering led to empty list
      content:
        application/json:
          example:
            errorCode: noEntries
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error500InternalError:
      description: Internal Server Error
      content:
        application/json:
          example:
            errorCode: internalError
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error409Conflict:
      description: Conflict.
      content:
        application/json:
          example:
            errorCode: statusMismatch
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error423Locked:
      description: Locked
      content:
        application/json:
          example:
            errorCode: locked
          schema:
            $ref: '#/components/schemas/ErrorType'
    GetMedicationListError400:
      description: Something is wrong with the request e.g unknown search parameter, invalid query parameter or invalid request
      content:
        application/fhir+json:
          example: unknownSearchParameter
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
    GetMedicationListError404:
      description: Unknown resource type or resource not found
      content:
        application/fhir+json:
          example: unknownResourceType
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
    EmlEntryError400:
      description: "Profile mismatch in header Organization, invalid Data Structure in Medication Service, 
        invalid dosage structure or content or parameter with wrong status."
      content:
        application/fhir+json:
          example: MEDSVC_NO_VALID_STRUCTURE
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
        application/xml+json:
          example: MEDSVC_NO_VALID_STRUCTURE
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
    EmlEntryError403:
      description: "ID-Token or Insurant-ID mismatch, requestor not authorized (no user session with valid ID-Token available), 
      requestor has no valid entitlement, requestor role is not in the list of allowed user groups or device registration does not exist (if requestor role is oid_versicherter only)."
      content:
        application/fhir+json:
          example: SVC_IDENTITY_MISMATCH
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
        application/xml+json:
          example: SVC_IDENTITY_MISMATCH
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
    EmlEntryError404:
      description: "Health record is in state UNKNOWN or INITIALIZED or the referenced MedicationStatement resource does not exist."
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/ErrorType'
    EmlEntryError405:
      description: "Operation %s not allowed for resource %s."
      content:
        application/fhir+json:
          example: MSG_OP_NOT_ALLOWED
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
        application/xml+json:
          example: MSG_OP_NOT_ALLOWED
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
    EmlEntryError409:
      description: "Health record is in state SUSPENDED or MAINTENANCE."
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/ErrorType'
    EmlEntryError423:
      description: "If the insurant objected to the medication process or objected to the submission of prescription 
      and dispensation data into the ePA system, the Medication Service is locked."
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/ErrorType'
    EmpEntryError400:
      description: "Profile mismatch in header Organization, invalid Data Structure in Medication Service, 
       invalid dosage structure or content or parameter with wrong status."
      content:
        application/fhir+json:
          example: MEDSVC_NO_VALID_STRUCTURE
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
        application/xml+json:
          example: MEDSVC_NO_VALID_STRUCTURE
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
    EmpEntryError403:
      description: "ID-Token or Insurant-ID mismatch, requestor not authorized (no user session with valid ID-Token available), 
     requestor has no valid entitlement, requestor role is not in the list of allowed user groups or device registration does not exist (if requestor role is oid_versicherter only)."
      content:
        application/fhir+json:
          example: SVC_IDENTITY_MISMATCH
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
        application/xml+json:
          example: SVC_IDENTITY_MISMATCH
          schema:
            $ref: '#/components/schemas/EPAOperationOutcome'
    EmpEntryError404:
      description: "Health record is in state UNKNOWN or INITIALIZED or the Resource is not known."
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/ErrorType'
    EmpEntryError409:
      description: "Health record is in state SUSPENDED or MAINTENANCE."
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/ErrorType'
    EmpEntryError410:
      description: "Resource has been deleted and is no longer available."
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/ErrorType'
    EmpEntryError423:
      description: "If the insurant objected to the medication process or objected to the submission 
      of prescription and dispensation data into the ePA system, the Medication Service is locked."
      content:
        application/fhir+json:
          schema:
            $ref: '#/components/schemas/ErrorType'
    Error403EMP:
      description: "Requestor not authorized, 
                        Requestor has no valid entitlement, 
                        Requestor role is not in the list of allowed user groups, 
                        Device registration does not exist"
      content:
        application/json:
          example:
            errorCode: invalAuth
          schema:
            $ref: '#/components/schemas/ErrorType'
  schemas:
    InsurantIdType:
      type: string
      description: |-
        The health record identifier. 
        For today the record identifier equals the insurant id (kvnr). The record identifier does not include any homeCommunity identification.
      pattern: '^[A-Z]{1}\d{9}$'
      example: Z123456789
    UserAgentType:
      description: "Information about client software with: ClientId (1 to 20 characters) + / + VersionNumber (1 to 15 characters)."
      type: string
      pattern: '^[a-zA-Z0-9\-]{1,20}\/[a-zA-Z0-9\-\.]{1,15}$'
      example: CLIENTID1234567890AB/2.1.12-45
    ErrorType:
      description: Error object with additional information about the occurred error
      type: object
      properties:
        errorCode:
          description: Error condition specifier
          type: string
        errorDetail:
          description: Additional details regarding the error condition (if applicable)
          type: string
      required:
        - errorCode
    Bundle:
      $ref: '#/components/schemas/SearchBundle'
    SearchBundle:
      type: string
      description: For details check the FHIR profile -> http://hl7.org/fhir/search-set-bundle.html
    EPAOperationOutcome:
      type: object
      description: For details check the FHIR profile -> https://simplifier.net/packages/de.gematik.epa/1.0.5-ballot.1/files/2734323/~overview
      properties:
        resourceType:
          type: string
          description: For details check the FHIR profile -> http://hl7.org/fhir/operationoutcome.html
        id:
          type: string
          format: UUID
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
                example: "https://gematik.de/fhir/epa/StructureDefinition/epa-operation-outcome"
        issue:
          type: array
          minLength: 1
          items:
            type: string
            description: For details check the FHIR profile -> http://hl7.org/fhir/operationoutcome.html
    EPAOpAddEmlEntryInputParameters:
      title: EPAOpAddEmlEntryInputParameters
      required:
        - resourceType
        - parameter
      properties:
        resourceType:
          type: string
          enum: [ Parameters ]
        id:
          type: string
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
        parameter:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/ParameterItem'
    EPAOpAddEmpEntryInputParameters:
      title: EPAOpAddEmpEntryInputParameters
      required:
        - resourceType
        - parameter
      properties:
        resourceType:
          type: string
          enum: [ Parameters ]
        id:
          type: string
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
        parameter:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/EmpParameterItem'
    EPAOpUpdateEmpEntryInputParameters:
      title: EPAOpUpdateEmpEntryInputParameters
      required:
        - resourceType
        - parameter
      properties:
        resourceType:
          type: string
          enum: [ Parameters ]
        id:
          type: string
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
        parameter:
          type: array
          minItems: 2
          items:
            $ref: '#/components/schemas/EmpParameterItem'
    EPAOpLinkEmpEntryParameters:
      title: EPAOpLinkEmpEntryParameters
      required:
        - resourceType
        - parameter
      properties:
        resourceType:
          type: string
          enum: [ Parameters ]
        id:
          type: string
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
        parameter:
          type: array
          maxItems: 1
          items:
            $ref: '#/components/schemas/EmpLinkParameterItem'
    EmpLinkParameterItem:
      type: object
      required:
        - name
        - valueIdentifier
      properties:
        name:
          type: string
        valueIdentifier:
          $ref: '#/components/schemas/ValueIdentifier'
    ParameterItem:
      type: object
      properties:
        name:
          type: object
          xml:
            attribute: true
        resource:
          type: object
          xml:
            attribute: true
      description: "The parameter item is containing a name and the resource itself (FHIR Resource). The resource can be a MedicationStatement, Medication and Provenance."
    EmpParameterItem:
      type: object
      properties:
        name:
          type: object
          xml:
            attribute: true
        resource:
          type: object
          xml:
            attribute: true
        valueId:
          type: string
          xml:
            attribute: true
        valueIdentifier:
          $ref: '#/components/schemas/ValueIdentifier'
        part:
          type: array
          items:
            $ref: '#/components/schemas/ParameterItem'
      description: "The parameter item is containing a name and the resource itself (FHIR Resource). 
      The resource can be a MedicationStatement, Medication, MedicationRequest and Provenance."
    ValueIdentifier:
      type: object
      properties:
        system:
          type: string
        value:
          type: string
      description: "An identifier - identifies some entity uniquely and unambiguously."
  requestBodies:
    EPAOpAddEmlEntryInputParameters:
      description: https://gematik.de/fhir/epa-medication/StructureDefinition/epa-op-add-eml-entry-input-parameters
      content:
        application/fhir+json:
          schema:
            $ref: "#/components/schemas/EPAOpAddEmlEntryInputParameters"
        application/fhir+xml:
          schema:
            $ref: "#/components/schemas/EPAOpAddEmlEntryInputParameters"
    EPAOpAddEmpEntryInputParameters:
      description: https://gematik:de/fhir/epa-medication/StructureDefinition/epa-op-add-emp-entry-input-parameters
      content:
        application/fhir+json:
          schema:
            $ref: "#/components/schemas/EPAOpAddEmpEntryInputParameters"
        application/fhir+xml:
          schema:
            $ref: "#/components/schemas/EPAOpAddEmpEntryInputParameters"
    EPAOpUpdateEmpEntryInputParameters:
      description: https://gemspec.gematik.de/ig/fhir/epa-medication/1.2.0/StructureDefinition-epa-op-update-emp-entry-input-parameters.html
      content:
        application/fhir+json:
          schema:
            $ref: "#/components/schemas/EPAOpUpdateEmpEntryInputParameters"
        application/fhir+xml:
          schema:
            $ref: "#/components/schemas/EPAOpUpdateEmpEntryInputParameters"
    EPAOpLinkEmpEntryParameters:
      description: https://gematik.de/fhir/epa-medication/StructureDefinition/epa-op-link-emp-entry-parameters
      content:
        application/fhir+json:
          schema:
            $ref: "#/components/schemas/EPAOpLinkEmpEntryParameters"
        application/fhir+xml:
          schema:
            $ref: "#/components/schemas/EPAOpLinkEmpEntryParameters"



